/*Общий стиль*/
li {
    list-style-type: none;
}
p {
    margin: 0;
    padding: 0;
}
/*//Общий стиль*/

/*Слайдер*/
.slider{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}
.slider__png{
    display: flex;
    justify-content: center;
}
#bigPng{
    display: flex;
    justify-content: center
}
.slider__nav{
    display: flex;
    justify-content: space-around;
}
#minPng{
    display: block;
}
/*//Слайдер*/

/*Корзина*/
.basket{
    display: flex;
    border: 2px solid #000;
    flex-direction: column;
    max-width: 400px;
}
.total{
    display: flex;
}
.products{
    display: flex;
    border: 2px solid #000;
    flex-direction: column;
    max-width: 400px;
}
/*Корзина*/